[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
ansible = "*"
ansible-review = "*"
cookiecutter = "*"
python-openstackclient = "*"
pynt = "*"
ansible-lint = "*"
shade = "*"
python-swiftclient = "*"
python-heatclient = "*"
