# {{ ansible_managed }}
set pidfile /tmp/.fetchmail.pid
set logfile /var/log/rt5_fetchmail.log
poll {{ rt_fetchmail_host }}    proto auto:
 username {{ rt_fetchmail_user }} password {{ rt_fetchmail_password }} {% if rt_fetchmail_ssl %}ssl{% endif %} {% if rt_fetchmail_folder != '' %}folder {{rt_fetchmail_folder }} {% endif -%} mda "/opt/rt5/bin/rt-mailgate --url {{ rt_fetchmail_rt_url }} --queue {{ rt_fetchmail_queue }} --action correspond {% if not rt_fetchmail_verify_ssl %}--no-verify-ssl{% endif %}"
